[Unit]
Description=Nuage libnetwork plugin for docker
Wants=docker.service
After=network.target
Before=docker.service

[Service]
ExecStart=/usr/bin/nuage-libnetwork -config /etc/default/nuage-libnetwork.yaml
Type=simple
PIDFile=/var/run/nuage-libnetwork/nuage-libnetwork.pid
Restart=always

[Install]
WantedBy=multi-user.target
